*{
    font-family: 'Commissioner', sans-serif;
    font-size: 1rem;
}

p{
    color: #7a7a7a;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:visited{
    text-decoration: none;
}

/*****Buttons*****/

.button{
    background-color: hsl(176, 50%, 47%);
    border: none;
    color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 25px;
    font-weight: 500;
}

.button__mark{
    background-image: url("../images/icon-bookmark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 60px;
    height: 60px;
}

/***********Titles and texts***********/

.title-l{
    font-size: 2rem;
    font-weight: 700;
}

.title-m{
    font-size: 1.3rem;
    font-weight: 700;
}

.title-s{
    font-size: 0.9rem;
    font-weight: 700;
}

.text{
    font-size: 0.88rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.pledge{
    font-size: 0.88rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: hsl(176, 56%, 47%);
}

/*********text bar*********/

.text-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-bar:after{
    display: block;
    content: '';
    height: 0.07rem;
    margin-top: 1rem;
    width: 5rem;
    background-color: #d9d9d9;
}

/******cards******/

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    margin: 0 1.56rem;
    border-radius: 0.625rem;
    border: #f4f4f4 solid 1px;
}

.price__card{
    margin: 1.56rem 0 0 0;
    width: calc(100% - 2rem);
    align-items: flex-start;
    text-align: left;
    padding: 2rem 1rem;
    border-color: #d9d9d9;
}

.about .price__card p{
    margin-top: 0.6rem;
    width: 14.4rem;
}

.price__card span{
    font-size: 0.88rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: #7a7a7a;
}

.price__card button{
    margin-top: 2rem;
}

.card__out{
    margin: 1.56rem 0 0 0;
    width: calc(100% - 2rem);
    align-items: flex-start;
    text-align: left;
    padding: 2rem 1rem;
}

.title__out{
    font-weight: 700;
    color: #808080;
}

.text__out{
    margin-top: 0.6rem;
    width: 14.4rem;
    color: #cdcdcd;
    font-size: 0.88rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.card__out button{
    margin-top: 2rem;
    background-color: #cbcbcb;
}

.card__out span{
    font-size: 0.88rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: #cdcdcd;
}

.pledge--out{
    margin-top: 0.6rem;
    font-size: 0.88rem;
    font-weight: 400;
    color: #bedfdd;
}