.card{
    font-family: 'Commissioner', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 0 1.56rem;
    border-radius: 0.625rem;
    border: #f4f4f4 solid 0.0625rem;
}

/*****part of selection rewards cards*****/

.select__card{
    margin: 1.56rem 0 0 0;
    max-width: 14.4rem;
    align-items: flex-start;
    text-align: left;
    padding: 2rem 1.5rem;
    border-color: #d9d9d9;
}

.select__card__pledge{
    margin: 0.4rem 0;
}

.select__card__text{
    margin-top: 0.6rem;
    width: 14.4rem;
}

.select__card__stock{
    display: flex;
    margin: 1.5rem 0;
    gap: 0.5rem;
    align-items: center;
}

.select__card__stock span{
    font-size: 0.88rem;
    font-weight: 400;
    color: #7a7a7a;
}

.price__card__button{
    margin: 0.2rem 0;
    font-size: 0.9rem;
}

/********out of stock*******/

.card__stockout{
    margin: 1.56rem 0 0 0;
    max-width: 14.4rem;
    align-items: flex-start;
    text-align: left;
    padding: 2rem 1.5rem;
}

.title__stockout{
    color: #808080;
}

.pledge__stockout{
    margin-top: 0.6rem;
    font-size: 0.88rem;
    font-weight: 400;
    color: #bedfdd;
}

.out__stock{
    display: flex;
    margin: 1.5rem 0;
    gap: 0.5rem;
    align-items: center;
    color: rgb(128, 128, 128);
}

.out__stock span{
    font-size: 0.88rem;
    font-weight: 400;
    color: #cdcdcd;
}

.stockout__button{
    margin: 0.2rem 0;
    font-size: 0.9rem;
    background-color: #cbcbcb;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #FFFFFF;
    margin: 0 1.56rem;
    border-radius: 0.625rem;
    border: #f4f4f4 solid 1px;
    padding: 3rem 2.1rem;
}

.pledge-content{
    margin-left: -1rem;
    width: calc(100% + 1rem);
    padding-left: 1rem;
    padding-top: 1rem;
    border-top: #cdcdcd solid 1px;
}
.pledge-content{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 15px;
}

.pledge-content p{
    margin: 0;
}

.pledge-button-value{
    background-color: #FFFFFF;
    border: #c0c0c0 solid 1px;
    margin: 0;
    padding: 15px 35px;
    border-radius: 25px;
    font-weight: 500;
}
.pledge-button{
    background-color: hsl(176, 50%, 47%);
    border: none;
    margin: 0;
    color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 25px;
    font-weight: 500;
}