.about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #FFFFFF;
    margin: 1.56rem 1.56rem;
    border-radius: 0.625rem;
    border: #f4f4f4 solid 1px;
    padding: 3rem 2.1rem;
}

.about__title{
    margin-bottom: 1rem;
}

.about__text{
    margin-bottom: 1rem;
    width: 17.5rem;
}

.container__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*****part of selection rewards cards*****/

.select__card{
    margin: 1.56rem 0 0 0;
    max-width: 14.4rem;
    align-items: flex-start;
    text-align: left;
    padding: 2rem 1.5rem;
    border-color: #d9d9d9;
}

.select__card__pledge{
    margin: 0.4rem 0;
}

.select__card__text{
    margin-top: 0.6rem;
    width: 14.4rem;
}

.select__card__stock{
    display: flex;
    margin: 1.5rem 0;
    gap: 0.5rem;
    align-items: center;
}

.select__card__stock span{
    font-size: 0.88rem;
    font-weight: 400;
    color: #7a7a7a;
}

.price__card__button{
    margin: 0.2rem 0;
    font-size: 0.9rem;
}

/********out of stock*******/

.card__stockout{
    margin: 1.56rem 0 0 0;
    max-width: 14.4rem;
    align-items: flex-start;
    text-align: left;
    padding: 2rem 1.5rem;
}

.title__stockout{
    color: #808080;
}

.pledge__stockout{
    margin-top: 0.6rem;
    font-size: 0.88rem;
    font-weight: 400;
    color: #bedfdd;
}

.out__stock{
    display: flex;
    margin: 1.5rem 0;
    gap: 0.5rem;
    align-items: center;
    color: rgb(128, 128, 128);
}

.out__stock span{
    font-size: 0.88rem;
    font-weight: 400;
    color: #cdcdcd;
}

.stockout__button{
    margin: 0.2rem 0;
    font-size: 0.9rem;
    background-color: #cbcbcb;
}


