.header{
    background-image: url("../../images/image-hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
}

.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation__menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}


.menu__mobile{
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    z-index: 2;
    overflow: hidden;
}

.menu__mobile li{
    width: calc(100% - 1rem);
    height: 4rem;
    border-bottom: #cbcbcb solid 1px;
    padding-left: 1rem;
}

.menu__mobile li:last-child{
    border-bottom: 0;
}

.menu__mobile li:hover{
    background-color: #cbcbcb;
}

.menu__mobile a{
    color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header nav{
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    align-items: center;
}

.menu__list{
    display: flex;
    color: #FFFFFF;
    gap: 1.25rem;
}