main{
    background-color: #fafafa;
    position: relative;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/******first card******/

.first__card{
    position: relative;
    align-items: center;
    text-align: center;
    top: -3.125rem;
    padding-bottom: 1.5rem;
}

.card__logo{
    position: relative;
    top: -1.562rem;
}

.card image{
    width: 100%;
}

.first__card__title{
    width: 12.5rem;
}

.first__card__text{
    margin: 1.25rem 0;
    width: 18.875rem;
}

.first__card__button {
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

/*******second card*******/

.funds{
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    margin-top: calc(1.56rem - 3.125rem);
}

.custs__text{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*****progressive bar****/

.funds progress{
    border-radius: 0.5rem;
    height: 10px;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #f4f4f4;
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: #3cb4ab;
    border-radius: 7px;
}