main{
    background-color: #fafafa;
    position: relative;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

/******first card******/

.cards__first-card{
    position: relative;
    align-items: center;
    text-align: center;
    top: -3.125rem;
    padding-bottom: 1.5rem;
    width: 100%;
    margin-bottom: -3.125rem;
}

.cards__first-card__logo{
    position: relative;
    top: -1.562rem;
}

.card image{
    width: 100%;
}

.cards__first-card__title{
    width: 12.5rem;
}

.cards__first-card__text{
    margin: 1.25rem 0;
    width: 18.875rem;
}

.cards__first-card__button {
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

/*******second card*******/

.cards__second-card{
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.56rem;
    width: calc(100% - 3rem);
}

.custs-text{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*****progressive bar****/

.cards__second-card progress{
    border-radius: 0.5rem;
    height: 10px;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #f4f4f4;
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: #3cb4ab;
    border-radius: 7px;
}

@media screen and (min-width: 768px) {
    .card{
        font-family: 'Commissioner', sans-serif;
        margin: 0 1.56rem;
    }

    .cards__first-card{
        max-width: 40rem;
    }

    .cards__second-card{
        max-width: 37rem;
    }
}